<div class="first-container">
</div>
<br>
<br>
<br>
<br>
<br>
<div class="about">
    <div class="second-container">
    <%= image_tag 'ski_3.jpg', class:"pic" %>
    </div>
    <div class="explain">
    <h1>about</h1>
    <h3>文字</h3>
    </div>
 </div>
