/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .header {
   display: flex;
   justify-content: space-between;
   position: absolute;
   width: 100%;
   padding: 30px 7vw;
   box-sizing: border-box;
   background-color: rgba(74, 83, 84, 0.66);
 }

 

 .header-list{
  margin-left: 30px;
  font-family: YakuHanMPs_Noto, 'Noto Serif', 'Noto Serif JP', serif;
 }

 a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color:black;
  
 }

 h1{
  font-size: 50px;
  font-family: YakuHanMPs_Noto, 'Noto Serif', 'Noto Serif JP', serif;
 }


 ul1{
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 50px;
 }
 
